/*
This is not full copy of original tailwind/preflight.css
Some rules were duplicated by antd/dist/reset.css
*/
*,
::before,
::after {
  /* Prevent padding and border from affecting element width. (https: //github.com/mozdevs/cssremedy/issues/4) */
  box-sizing: border-box;

  /* Allow adding a border to an element by just adding a border-width. (https: //github.com/tailwindcss/tailwindcss/pull/116) */
  border-width: 0;
  border-style: solid;
}

::before,
::after {
  --tw-content: "";
}

/* Add the correct font weight in Edge and Safari. */
b,
strong {
  font-weight: bolder;
}

/* Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family: monospace;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Use the modern Firefox focus style for all focusable elements. */
:-moz-focusring {
  outline: auto;
}

/* Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737) */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Correct the cursor style of increment and decrement buttons in Safari. */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari. */
  appearance: button;

  /* Change font properties to `inherit` in Safari. */
  font: inherit;
}

/* Add the correct display in Chrome and Safari. */
summary {
  display: list-item;
}

/* Removes the default spacing and border for appropriate elements. */
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  padding: 0;
}

/* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14) */
img,
video {
  max-width: 100%;
  height: auto;
}
